<div class="wrapper card">
	<div class="container">
		<ul class="navbar-nav cart-items" *ngIf="items().length">
			<li class="nav-item" *ngFor="let product of items()">
				<div class="media mb-3">
					<img class="img-thumbnail mr-3" src="/assets/images/products/{{product.images[0]}}"
						alt="{{product.name}}" style="width: 100px;">
					<div class="media-body">
						<h5 class="mt-0">{{product.name}} </h5>
						<span>{{product.price.value | currency:'BRL':true:'1.2-2'}}</span>
					</div>
					<button type="button" class="close" aria-label="Close" (click)="removeItem(product)">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</li>
		</ul>

		<div class="navbar-nav cart-items" *ngIf="items().length == 0">
			<li class="nav-item">
				Seu carrinho está vazio.
			</li>
		</div>

		<hr *ngIf="items().length" class="w-100" style="border-bottom: 1px solid #dee2e678;">

		<form class="form-row"  *ngIf="items().length">
			<div class="col-12 col-md-6">
				<h5 class="mb-2">Escolha a forma de Pagamento</h5>

				<div class="form-check">
					<input class="form-check-input" type="radio" name="payment" id="bankSlip" value="bankSlip"
						(change)="changePayOption()" [(ngModel)]="payOption">
					<label class="form-check-label" for="bankSlip">
						À vista - boleto bancário: 10% de desconto
					</label>
				</div>

				<div class="form-check">
					<input class="form-check-input" type="radio" name="payment" id="debit" value="debit"
						(change)="changePayOption()" [(ngModel)]="payOption">
					<label class="form-check-label" for="debit">
						À vista - débito: 5% de desconto
					</label>
				</div>

				<div class="form-check">
					<input class="form-check-input" type="radio" name="payment" id="credit" value="credit"
						(change)="changePayOption()" [(ngModel)]="payOption">
					<label class="form-check-label" for="credit">
						Crédito
					</label>
				</div>

				<div *ngIf="payOption == 'credit'" class="mt-3" style="max-width: 270px;">
					<h5 class="mb-0">Número de Parcelas:</h5>
					<select class="custom-select">
						<option *ngFor="let option of options" value="{{ option.value }}">
							{{ option.text }}
						</option>
					</select>
				</div>
			</div>

			<div class="col-12 col-md-6 text-right">
				<div class="mb-3">
					<h6 class="mb-1">Subtotal</h6>
					<span>{{ total() | currency:'BRL':true:'1.2-2'}}</span>
				</div>

				<div>
					<h5 class="mb-1">Total</h5>
					<span>{{ finalPrice | currency:'BRL':true:'1.2-2'}}</span>
				</div>
			</div>

			<hr *ngIf="items().length" class="w-100" style="border-bottom: 1px solid #dee2e678;">

		</form>
		<form>

			<div class="col-12 col-md-6 mb-4">
				<input class="form-control mb-2" name="contato" type="text" placeholder="Nome">
				<input class="form-control mb-2" name="contato" type="text" placeholder="Endereço">
				<input class="form-control mb-2" name="contato" type="tel" placeholder="Celular">
				<input class="form-control mb-2" name="contato" type="email" placeholder="Email">
				<input class="btn" type="reset" value="Limpar">
			</div>

			

		</form>

	</div>
</div>